body {
	height: 100%;
    margin: 0;
    color: #D3D3D3;
}

h1 {
	font-size: 70px;
	font-family: blackMetal;
	margin-top: 0;
}

ul {
	padding-left: 0px;
}

.bg {
	background-image: url("../images/black.jpg");
    height: 670px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.button {
  font: bold 25px Arial;
  text-decoration: none;
  color: #D3D3D3;
  padding: 2px 6px 2px 6px;
}

.large-logo h1 {
	font-size: 120px;
	font-family: blackMetal;
	color: #D3D3D3;
}

.text {
	background-color: black;
	width: 40%;
	margin: 0 auto;
}

.btn {
	color: black;
}


label { 
	margin-left: 0.5em; 
	cursor: pointer; 
}

#finish-button {
	margin-bottom: 15px;
}

#restart-button {
	margin-bottom: 15px;
}

#categorylist { 
	margin-top: 6px; 
	display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
	display: none; 
}

#closing {
	display: none;
	font-style: italic;
}

@font-face {
    font-family: blackMetal;
    src: url(../fonts/black-metal.ttf);
}