body {
	background-color: black;
	color: grey;
}

h1 {
	font-size: 70px;
	font-family: blackMetal;
}

@font-face {
    font-family: blackMetal;
    src: url(../fonts/black-metal.ttf);
}

ul {
	padding-left: 0px;
}

.answers li { 
	list-style: upper-alpha;
} 

.btn {
	color: black;
}

label { 
	margin-left: 0.5em; 
	cursor: pointer; 
}

.large-logo h1{
	font-size: 120px;
	font-family: blackMetal;
	color: grey;
}

#categorylist { 
	margin-top: 6px; 
	display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
	display: none; 
}

#closing {
	display: none;
	font-style: italic;
}