body {
	height: 100%;
    margin: 0;
    color: #D3D3D3;
}

h1 {
	font-size: 70px;
	font-family: blackMetal;
	margin-top: 0;
}

h3 {
	font-family: canterbury;
  	letter-spacing: 2px;
}

h4 {
	font-family: canterbury;
  	letter-spacing: 2px;
}

p {
	font-family: canterbury;
	font-size: 25px;
  	letter-spacing: 2px;
}

ul {
	font-family: canterbury;
	font-size: 20px;
	padding-left: 0px;
	letter-spacing: 2px;
}

.bg {
	background-image: url("../images/black.jpg");
    height: 670px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.button {
  font-family: canterbury;
  letter-spacing: 2px;
  font-size: 40px;
  color: #D3D3D3;
}

.large-logo h1 {
	font-size: 120px;
	font-family: blackMetal;
	color: #D3D3D3;
}

.text {
	background-color: black;
	width: 40%;
	margin: 0 auto;
}

.btn {
	font-family: canterbury;
  	letter-spacing: 2px;
	color: black;
}

label { 
	margin-left: 0.5em; 
}

#finish-button {
	margin-bottom: 15px;
}

#restart-button {
	margin-bottom: 15px;
}

@font-face {
    font-family: blackMetal;
    src: url(../fonts/black-metal.ttf);
}

@font-face {
    font-family: canterbury;
    src: url(../fonts/canterbury.ttf);
    letter-spacing: 2px;
}